<h2><%= book.title %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= book.coverImagePath %>">
    <div class="book-btn-grid">
      <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', {url: `/books/${book.id}`})%>
      <a class="btn btn-primary btn-author" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
  </div>
  <div class="book-fields-grid">
    <div class="book-field-label">Author:</div>
    <div> <%= book.author.name %> </div>
    <div class="book-field-label">Publish Date:</div>
    <div> <%= book.publishDate.toLocaleDateString() %> </div>
    <div class="book-field-label">Page Count:</div>
    <div> <%= book.pageCount %> </div>
    <div class="book-field-label">Description:</div>
    <div> <%= book.description %> </div>
  </div>
</div>